Repository buun-ch/buun-curator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, lint-ts, lint-python-worker, lint-python-agent

lint-markdown:
  run: ./scripts/fix-md-tables {staged_files} && markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

lint-ts:
  run: bun prettier --write {staged_files} && bun lint --fix {staged_files}
  stage_fixed: true

lint-python-worker:
  env:
    VIRTUAL_ENV: .venv
  run: 'uv run ruff check --fix --force-exclude --select=I001 --exit-zero --no-cache {staged_files} &&
  
    uv run ruff check --fix --force-exclude --exit-zero --no-cache {staged_files} &&
  
    uv run ruff format --force-exclude {staged_files}
  
    '
  stage_fixed: true

lint-python-agent:
  env:
    VIRTUAL_ENV: .venv
  run: 'uv run ruff check --fix --force-exclude --select=I001 --exit-zero --no-cache {staged_files} &&
  
    uv run ruff check --fix --force-exclude --exit-zero --no-cache {staged_files} &&
  
    uv run ruff format --force-exclude {staged_files}
  
    '
  stage_fixed: true

fix: worker error handling
  worker/buun_curator/services/content_processor.py
  worker/buun_curator/worker.py
  worker/buun_curator/workflows/all_feeds_ingestion.py
  worker/buun_curator/workflows/content_distillation.py
  worker/buun_curator/workflows/context_collection.py
  worker/buun_curator/workflows/domain_fetch.py
  worker/buun_curator/workflows/reprocess_entries.py
  worker/buun_curator/workflows/schedule_fetch.py
  worker/buun_curator/workflows/single_feed_ingestion.py
  worker/buun_curator/workflows/translation.py
  worker/tests/conftest.py
  worker/tests/unit/__init__.py
  worker/tests/unit/activities/__init__.py
  worker/tests/unit/activities/conftest.py
  worker/tests/unit/activities/test_fetch.py
  worker/tests/unit/services/__init__.py
  worker/tests/unit/services/conftest.py
  worker/tests/unit/services/test_content.py
  worker/tests/unit/worker/__init__.py
  worker/tests/unit/worker/test_workflow_log_filter.py
  worker/tests/unit/workflows/__init__.py
  worker/tests/unit/workflows/test_schedule_fetch.py
  worker/tests/unit/workflows/test_workflow_error_handling.py
Due: lint-python-worker

chore: UI tweak
  .gitignore
  app/favicon.ico
  app/globals.css
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
Due: none

chore: add Claude skills
  .claude/skills/playwright-skill/API_REFERENCE.md
  .claude/skills/playwright-skill/LICENSE
  .claude/skills/playwright-skill/README.md
  .claude/skills/playwright-skill/SKILL.md
  .claude/skills/playwright-skill/bun.lock
  .claude/skills/playwright-skill/lib/helpers.js
  .claude/skills/playwright-skill/package.json
  .claude/skills/playwright-skill/run.js
  .claude/skills/temporal-python/SKILL.md
  .gitignore
  .markdownlintignore
  eslint.config.mjs
  lefthook.yml
Due: lint-markdown, lint-ts

chore: adjust CSS styles
  app/globals.css
  components/reader/content-list/entry-list-item.tsx
  components/reader/content-viewer/related-entries-section.tsx
  components/reader/subscription-sidebar/feeds-section.tsx
  components/reader/subscription-sidebar/index.tsx
  components/reader/subscription-sidebar/subscription-item.tsx
Due: lint-ts

chore: adjust CSS styles
  app/globals.css
  components/ui/plate/table-node.tsx
Due: lint-ts

chore: adjust CSS styles
  components/reader/subscription-sidebar/feeds-section.tsx
  components/reader/subscription-sidebar/subscription-item.tsx
Due: lint-ts

chore: workflow loading config priority
  .claude/skills/temporal-python/SKILL.md
  CLAUDE.md
  agent/pyproject.toml
  charts/buun-curator/templates/worker-deployment.yaml
  charts/buun-curator/values.yaml
  worker/buun_curator/config.py
  worker/buun_curator/models/workflow_io.py
  worker/buun_curator/workflows/all_feeds_ingestion.py
  worker/buun_curator/workflows/reprocess_entries.py
  worker/buun_curator/workflows/schedule_fetch.py
  worker/buun_curator/workflows/single_feed_ingestion.py
  worker/pyproject.toml
  worker/scripts/schedule.py
  worker/scripts/trigger_workflow.py
  worker/tests/conftest.py
  worker/tests/unit/activities/test_fetch.py
  worker/tests/unit/test_config.py
  worker/tests/unit/workflows/test_workflow_error_handling.py
Due: lint-markdown, lint-python-worker

chore: adjust CSS styles
  app/globals.css
  components/reader/content-list/entry-list-item.tsx
  components/reader/subscription-sidebar/feeds-section.tsx
  components/reader/subscription-sidebar/subscription-item.tsx
  components/ui/plate/editor.tsx
  components/ui/plate/fixed-toolbar.tsx
Due: lint-ts

Path conditions:
  lint-markdown: any of: {*,**/*}.md
  lint-ts: any of: *.{ts,tsx,js,jsx}
  lint-python-worker: any of: worker/**/*.py and ^worker/
  lint-python-agent: any of: agent/**/*.py and ^agent/
